<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Custom Labels</mat-panel-title>
    </mat-expansion-panel-header>

    <form class="section-form">
         <div class="form-group is-active-group">
          <label class="toggle-label">Validate</label>
          <label class="toggle-switch">
            <input type="checkbox" formControlName="Validate" />
            <span class="slider"></span>
          </label>
        </div>
      <div class="grid-3">
        <label>
          Policy Label
          <input type="text" placeholder="Policy Label" />
        </label>
      </div>
      <div class="grid-3">
        <label>
          Validation Label 1
          <input type="text" placeholder="Validation Label 1" />
        </label>
        <label>
          Validation Label 2
          <input type="text" placeholder="Validation Label 2" />
        </label>
        <label>
          Validation Label 3
          <input type="text" placeholder="Validation Label 3" />
        </label>
        <label>
          Validation Label 4
          <input type="text" placeholder="Validation Label 4" />
        </label>
        <label>
          Validation Label 5
          <input type="text" placeholder="Validation Label 5" />
        </label>
        <label>
          Validation Label 6
          <input type="text" placeholder="Validation Label 6" />
        </label>
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>
